In [1]:
import numpy                 as np
import pandas                as pd
import matplotlib.pyplot     as plt
import seaborn               as sns
import missingno as msno
from zipfile import ZipFile as zf
import random

/pip_envs/Debuggers3.6/lib/python3.6/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df = pd.read_csv("/mnt/workstation/data/input_CategoricasArregladas.csv")#, sep= ",", names =header)
df

,Unnamed: 0,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,...,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,convenio_lib,ingreso_nomina,ingreso_segurida_social,gasto_familiar
0,0,201908.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,1.0,0.0,311715.5,C,0.0,NaN,1255032.0,NaN,232526.0
1,1,201909.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,1.0,0.0,311715.5,C,0.0,NaN,1255032.0,NaN,265900.0
2,2,201907.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,1.0,0.0,311306.0,C,0.0,NaN,1255032.0,NaN,243052.0
3,3,201903.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,1.0,0.0,311306.0,C,0.0,NaN,1172612.0,NaN,276014.0
4,4,201911.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,0.0,0.0,677516.0,C,0.0,NaN,1255032.0,NaN,418866.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19255243,19255243,201910.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,3.0,0.0,929800.0,C,0.0,NaN,NaN,NaN,25500.0
19255244,19255244,202002.0,2090044.0,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,3.0,0.0,41800.0,D,0.0,NaN,NaN,NaN,147900.0
19255245,19255245,201903.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,0.0,0.0,928500.0,B,0.0,NaN,NaN,NaN,777437.1
19255246,19255246,202001.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,3.0,0.0,41800.0,D,0.0,NaN,NaN,NaN,1131012.0
19255247,19255247,202004.0,2090044.0,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,3.0,0.0,879800.0,B,0.0,NaN,NaN,2650000.0,597462.0

In [3]:
lista=df['periodo'].astype(int)

In [4]:
df['anio'] = (lista/100).round().astype(int)

In [5]:
df['mes'] = (lista%100)

In [6]:
prom = df[['id_cli','mes','cupo_total_tc','cuota_de_vivienda','ind']].groupby(by = ['id_cli','mes']).mean()

In [7]:
prom

               cupo_total_tc  cuota_de_vivienda           ind
id_cli    mes
3.0       1        6600000.0                0.0  3.281244e+06
          2        6600000.0                0.0  3.155679e+06
          3        6600000.0                0.0  2.775457e+06
          4        6600000.0                0.0  2.123905e+06
          5        6600000.0                0.0  2.601551e+06
...                      ...                ...           ...
8704800.0 7        1700000.0                0.0  7.537400e+05
          8        1700000.0                0.0  5.397950e+05
          9        1700000.0                0.0  6.162950e+05
          10       1700000.0                0.0  5.230038e+05
          11       1700000.0                0.0  5.230038e+05

[10397407 rows x 3 columns]

In [8]:
maxi = df[['id_cli','mes','mora_max','cant_moras_30_ult_12_meses','cant_moras_60_ult_12_meses',
          'cant_moras_90_ult_12_meses','cant_mora_30_tdc_ult_3m_sf','cant_mora_30_consum_ult_3m_sf'
          ]].groupby(by = ['id_cli','mes']).max()
maxi

               mora_max  cant_moras_30_ult_12_meses  \
id_cli    mes
3.0       1         0.0                         0.0
          2         0.0                         0.0
          3         0.0                         0.0
          4         0.0                         0.0
          5         0.0                         0.0
...                 ...                         ...
8704800.0 7         0.0                         0.0
          8         0.0                         0.0
          9         0.0                         0.0
          10        0.0                         0.0
          11        0.0                         0.0

               cant_moras_60_ult_12_meses  cant_moras_90_ult_12_meses  \
id_cli    mes
3.0       1                           0.0                         0.0
          2                           0.0                         0.0
          3                           0.0                         0.0
          4                           0.0                         0.0
          5                           0.0                         0.0
...                                   ...                         ...
8704800.0 7                           0.0                         0.0
          8                           0.0                         0.0
          9                           0.0                         0.0
          10                          0.0                         0.0
          11                          0.0                         0.0

               cant_mora_30_tdc_ult_3m_sf  cant_mora_30_consum_ult_3m_sf
id_cli    mes
3.0       1                           0.0                            0.0
          2                           0.0                            0.0
          3                           0.0                            0.0
          4                           0.0                            0.0
          5                           0.0                            0.0
...                                   ...                            ...
8704800.0 7                           0.0                            0.0
          8                           0.0                            0.0
          9                           0.0                            0.0
          10                          0.0                            0.0
          11                          0.0                            0.0

[10397407 rows x 6 columns]

In [9]:
desvio =  df[['id_cli','mes','saldo_no_rot_mdo']].groupby(by = ['id_cli','mes']).std()
desvio

               saldo_no_rot_mdo
id_cli    mes
3.0       1                 NaN
          2         2828.427125
          3         2828.427125
          4         1414.213562
          5         1414.213562
...                         ...
8704800.0 7         1414.213562
          8         1414.213562
          9         4242.640687
          10       74246.212025
          11       74246.212025

[10397407 rows x 1 columns]

In [10]:
ultim = df[['id_cli','mes','codigo_ciiu', 'ctas_activas', 'ctas_embargadas', 'mediana_nom3', 'mediana_pen3',
           'cupo_tc_mdo','pol_centr_ext','cant_oblig_tot_sf','cant_cast_ult_12m_sr','genero','estado_civil','nivel_academico',
           'profesion','ocupacion','tipo_vivienda','ciudad_residencia','rep_calif_cred','ind_mora_vigente','cartera_castigada'
           ,'tenencia_tc','tiene_consumo','tiene_crediagil','tiene_ctas_activas','tiene_ctas_embargadas','pension_fopep',
           'tiene_cred_hipo_1','tiene_cred_hipo_2']].sort_values(by =[ 
    'id_cli','mes'])

In [11]:
ultim.drop_duplicates(subset=['id_cli','mes'], inplace = True, keep='last')
ultim

,id_cli,mes,codigo_ciiu,ctas_activas,ctas_embargadas,mediana_nom3,mediana_pen3,cupo_tc_mdo,pol_centr_ext,cant_oblig_tot_sf,...,ind_mora_vigente,cartera_castigada,tenencia_tc,tiene_consumo,tiene_crediagil,tiene_ctas_activas,tiene_ctas_embargadas,pension_fopep,tiene_cred_hipo_1,tiene_cred_hipo_2
5775419,3.0,1,10.0,1.0,0.0,0.0,0.0,13579000.0,0.0,4.0,...,True,True,True,False,False,True,False,False,False,False
5775512,3.0,2,10.0,1.0,0.0,5378092.0,0.0,16272000.0,0.0,4.0,...,True,True,True,False,False,True,False,False,False,False
5775510,3.0,3,10.0,1.0,0.0,0.0,0.0,13579000.0,0.0,4.0,...,True,True,True,False,False,True,False,False,False,False
5775506,3.0,4,10.0,1.0,0.0,7926427.0,0.0,16272000.0,0.0,4.0,...,True,True,True,False,False,True,False,False,False,False
5775505,3.0,5,10.0,1.0,0.0,3679205.0,0.0,16272000.0,0.0,4.0,...,True,True,True,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3214422,8704800.0,7,90.0,1.0,0.0,0.0,0.0,5750000.0,0.0,4.0,...,True,True,True,False,False,True,False,False,False,False
3214424,8704800.0,8,90.0,1.0,0.0,0.0,0.0,7750000.0,0.0,4.0,...,True,True,True,False,True,True,False,False,False,False
3214421,8704800.0,9,90.0,1.0,0.0,0.0,0.0,5750000.0,0.0,4.0,...,True,True,True,False,False,True,False,False,False,False
3214418,8704800.0,10,90.0,1.0,0.0,0.0,0.0,5750000.0,0.0,4.0,...,True,True,True,False,False,True,False,False,False,False
3214691,8704800.0,11,90.0,1.0,0.0,0.0,0.0,5750000.0,0.0,4.0,...,True,True,True,False,False,True,False,False,False,False

In [12]:
ultim['ind_mora_vigente'] = ultim['ind_mora_vigente'].astype(int)
ultim['cartera_castigada'] = ultim['cartera_castigada'].astype(int)
ultim['tenencia_tc'] = ultim['tenencia_tc'].astype(int)
ultim['tiene_consumo'] = ultim['tiene_consumo'].astype(int)
ultim['tiene_crediagil'] = ultim['tiene_crediagil'].astype(int)
ultim['tiene_ctas_activas'] = ultim['tiene_ctas_activas'].astype(int)
ultim['tiene_ctas_embargadas'] = ultim['tiene_ctas_embargadas'].astype(int)
ultim['pension_fopep'] = ultim['pension_fopep'].astype(int)
ultim['tiene_cred_hipo_1'] = ultim['tiene_cred_hipo_1'].astype(int)
ultim['tiene_cred_hipo_2'] = ultim['tiene_cred_hipo_2'].astype(int)

In [13]:
ultim

,id_cli,mes,codigo_ciiu,ctas_activas,ctas_embargadas,mediana_nom3,mediana_pen3,cupo_tc_mdo,pol_centr_ext,cant_oblig_tot_sf,...,ind_mora_vigente,cartera_castigada,tenencia_tc,tiene_consumo,tiene_crediagil,tiene_ctas_activas,tiene_ctas_embargadas,pension_fopep,tiene_cred_hipo_1,tiene_cred_hipo_2
5775419,3.0,1,10.0,1.0,0.0,0.0,0.0,13579000.0,0.0,4.0,...,1,1,1,0,0,1,0,0,0,0
5775512,3.0,2,10.0,1.0,0.0,5378092.0,0.0,16272000.0,0.0,4.0,...,1,1,1,0,0,1,0,0,0,0
5775510,3.0,3,10.0,1.0,0.0,0.0,0.0,13579000.0,0.0,4.0,...,1,1,1,0,0,1,0,0,0,0
5775506,3.0,4,10.0,1.0,0.0,7926427.0,0.0,16272000.0,0.0,4.0,...,1,1,1,0,0,1,0,0,0,0
5775505,3.0,5,10.0,1.0,0.0,3679205.0,0.0,16272000.0,0.0,4.0,...,1,1,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3214422,8704800.0,7,90.0,1.0,0.0,0.0,0.0,5750000.0,0.0,4.0,...,1,1,1,0,0,1,0,0,0,0
3214424,8704800.0,8,90.0,1.0,0.0,0.0,0.0,7750000.0,0.0,4.0,...,1,1,1,0,1,1,0,0,0,0
3214421,8704800.0,9,90.0,1.0,0.0,0.0,0.0,5750000.0,0.0,4.0,...,1,1,1,0,0,1,0,0,0,0
3214418,8704800.0,10,90.0,1.0,0.0,0.0,0.0,5750000.0,0.0,4.0,...,1,1,1,0,0,1,0,0,0,0
3214691,8704800.0,11,90.0,1.0,0.0,0.0,0.0,5750000.0,0.0,4.0,...,1,1,1,0,0,1,0,0,0,0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19255248 entries, 0 to 19255247
Data columns (total 68 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Unnamed: 0                     int64
 1   periodo                        float64
 2   id_cli                         float64
 3   fecha_nacimiento               float64
 4   edad                           float64
 5   genero                         object
 6   estado_civil                   object
 7   nivel_academico                object
 8   profesion                      object
 9   ocupacion                      object
 10  tipo_vivienda                  object
 11  ult_actual                     float64
 12  categoria                      int64
 13  codigo_ciiu                    float64
 14  ind_mora_vigente               bool
 15  cartera_castigada              bool
 16  ciudad_residencia              object
 17  departamento_residencia        object
 18  ciudad_laboral                 object
 19  departamento_laboral           object
 20  rechazo_credito                object
 21  mora_max                       float64
 22  cant_moras_30_ult_12_meses     float64
 23  cant_moras_60_ult_12_meses     float64
 24  cant_moras_90_ult_12_meses     float64
 25  cupo_total_tc                  float64
 26  tenencia_tc                    bool
 27  cuota_tc_bancolombia           float64
 28  tiene_consumo                  bool
 29  tiene_crediagil                bool
 30  nro_tot_cuentas                float64
 31  ctas_activas                   float64
 32  tiene_ctas_activas             bool
 33  ctas_embargadas                float64
 34  tiene_ctas_embargadas          bool
 35  pension_fopep                  bool
 36  cuota_cred_hipot               float64
 37  tiene_cred_hipo_1              bool
 38  tiene_cred_hipo_2              bool
 39  mediana_nom3                   float64
 40  mediana_pen3                   float64
 41  ingreso_nompen                 float64
 42  cat_ingreso                    object
 43  ingreso_final                  float64
 44  cant_mora_30_tdc_ult_3m_sf     float64
 45  cant_mora_30_consum_ult_3m_sf  float64
 46  cuota_de_vivienda              float64
 47  cuota_de_consumo               float64
 48  cuota_rotativos                float64
 49  cuota_tarjeta_de_credito       float64
 50  cuota_de_sector_solidario      float64
 51  cuota_sector_real_comercio     float64
 52  cupo_tc_mdo                    float64
 53  saldo_prom3_tdc_mdo            float64
 54  cuota_tc_mdo                   float64
 55  saldo_no_rot_mdo               float64
 56  cuota_libranza_sf              float64
 57  cant_oblig_tot_sf              float64
 58  cant_cast_ult_12m_sr           float64
 59  ind                            float64
 60  rep_calif_cred                 object
 61  pol_centr_ext                  float64
 62  convenio_lib                   float64
 63  ingreso_nomina                 float64
 64  ingreso_segurida_social        float64
 65  gasto_familiar                 float64
 66  anio                           int64
 67  mes                            int64
dtypes: bool(10), float64(41), int64(4), object(13)
memory usage: 8.5+ GB

In [15]:
df.isna().sum()
pd.set_option('display.max_columns', None)

In [16]:
labels = pd.read_csv("/mnt/workstation/data/labels.csv")#, sep= ",", names =header)

In [17]:
labels

        Categoria      Particip        Variable  Label        Var_mean
0          CASADO  9.678370e+05    estado_civil      5  gasto_familiar
1     UNION LIBRE  8.678049e+05    estado_civil      4  gasto_familiar
2      DIVORCIADO  7.881397e+05    estado_civil      3  gasto_familiar
3           VIUDO  6.969590e+05    estado_civil      2  gasto_familiar
4         SOLTERO  6.912766e+05    estado_civil      1  gasto_familiar
...           ...           ...             ...    ...             ...
9109            D  1.101550e+06  rep_calif_cred      5  ingreso_nompen
9110            F  1.099701e+06  rep_calif_cred      4  ingreso_nompen
9111            G  1.099355e+06  rep_calif_cred      3  ingreso_nompen
9112            H  1.095841e+06  rep_calif_cred      2  ingreso_nompen
9113            E  1.055179e+06  rep_calif_cred      1  ingreso_nompen

[9114 rows x 5 columns]

In [18]:
output = prom.merge(maxi, on = ['id_cli','mes']).merge(desvio, on = ['id_cli','mes']).merge(ultim, on = ['id_cli','mes'])

In [19]:
labels = labels.loc[labels['Variable'].isin(['id_cli','mes','codigo_ciiu', 'ctas_activas', 'ctas_embargadas', 'mediana_nom3', 'mediana_pen3',
           'cupo_tc_mdo','pol_centr_ext','cant_oblig_tot_sf','cant_cast_ult_12m_sr','genero','estado_civil','nivel_academico',
           'profesion','ocupacion','tipo_vivienda','ciudad_residencia','rechazo_credito','rep_calif_cred','ind_mora_vigente','cartera_castigada'
           ,'tenencia_tc','tiene_consumo','tiene_crediagil','tiene_ctas_activas','tiene_ctas_embargadas','pension_fopep',
           'tiene_cred_hipo_1','tiene_cred_hipo_2']),:]
print(labels['Var_mean'].unique())
labels_gasto_familiar =  labels.loc[labels['Var_mean'] == 'gasto_familiar',:]
print(labels_gasto_familiar)
labels_ind =  labels.loc[labels['Var_mean'] == 'ind',:]
print(labels_ind)
labels_ingreso = labels.loc[labels['Var_mean'] == 'ingreso_nompen',:]
print(labels_ingreso)

['gasto_familiar' 'ind' 'ingreso_nompen']
        Categoria       Particip        Variable  Label        Var_mean
0          CASADO  967837.042851    estado_civil      5  gasto_familiar
1     UNION LIBRE  867804.852140    estado_civil      4  gasto_familiar
2      DIVORCIADO  788139.686010    estado_civil      3  gasto_familiar
3           VIUDO  696959.019761    estado_civil      2  gasto_familiar
4         SOLTERO  691276.611696    estado_civil      1  gasto_familiar
...           ...            ...             ...    ...             ...
3033            C  745750.890623  rep_calif_cred      5  gasto_familiar
3034            E  735321.594399  rep_calif_cred      4  gasto_familiar
3035            D  734435.232154  rep_calif_cred      3  gasto_familiar
3036            G  716602.568091  rep_calif_cred      2  gasto_familiar
3037            H  650557.024339  rep_calif_cred      1  gasto_familiar

[1636 rows x 5 columns]
        Categoria      Particip        Variable  Label Var_mean
3038       CASADO  1.737485e+06    estado_civil      5      ind
3039        VIUDO  1.516885e+06    estado_civil      4      ind
3040  UNION LIBRE  1.376242e+06    estado_civil      3      ind
3041      SOLTERO  1.080842e+06    estado_civil      2      ind
3042   DIVORCIADO  6.015128e+05    estado_civil      1      ind
...           ...           ...             ...    ...      ...
6071            D  7.770746e+05  rep_calif_cred      5      ind
6072            E  7.585961e+05  rep_calif_cred      4      ind
6073            F  6.058121e+05  rep_calif_cred      3      ind
6074            G  4.990211e+05  rep_calif_cred      2      ind
6075            H -1.701739e+06  rep_calif_cred      1      ind

[1636 rows x 5 columns]
        Categoria      Particip        Variable  Label        Var_mean
6076        VIUDO  1.588661e+06    estado_civil      5  ingreso_nompen
6077       CASADO  1.553970e+06    estado_civil      4  ingreso_nompen
6078   DIVORCIADO  1.175200e+06    estado_civil      3  ingreso_nompen
6079  UNION LIBRE  1.083780e+06    estado_civil      2  ingreso_nompen
6080      SOLTERO  1.082504e+06    estado_civil      1  ingreso_nompen
...           ...           ...             ...    ...             ...
9109            D  1.101550e+06  rep_calif_cred      5  ingreso_nompen
9110            F  1.099701e+06  rep_calif_cred      4  ingreso_nompen
9111            G  1.099355e+06  rep_calif_cred      3  ingreso_nompen
9112            H  1.095841e+06  rep_calif_cred      2  ingreso_nompen
9113            E  1.055179e+06  rep_calif_cred      1  ingreso_nompen

[1636 rows x 5 columns]

In [20]:
# se hace lo mismo con los otros dos valores pero toca cambiarlo en el for
for i,row in labels_gasto_familiar.iterrows():
    output[row['Variable']].replace(row['Categoria'],row['Label'],inplace = True)
output['genero'].replace('F' , 1, inplace = True)
output['genero'].replace('M' , 2, inplace = True)

KeyError: 'rechazo_credito'

In [ ]:
output

In [ ]:
output.isna().sum()

In [ ]:
output.dropna(subset = ['ind'], inplace = True)

In [ ]:
output.fillna(value={'mora_max':0,'cant_moras_30_ult_12_meses':0,'cant_moras_60_ult_12_meses':0,'cant_moras_90_ult_12_meses':0,
    'cant_mora_30_tdc_ult_3m_sf':0,'cant_mora_30_consum_ult_3m_sf':0},inplace = True)

In [ ]:
output.isna().sum()/len(output)*100

In [ ]:
len(output)

In [ ]:
output.