In [1]:
import numpy                 as np
import pandas                as pd
import matplotlib.pyplot     as plt
import seaborn               as sns
import missingno as msno
from zipfile import ZipFile as zf
import random
#import sklearn.metrics       as Metrics

/pip_envs/Debuggers3.6/lib/python3.6/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df = pd.read_csv("/mnt/workstation/data/input_CategoricasArregladas.csv")#, sep= ",", names =header)
df

,Unnamed: 0,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,...,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,convenio_lib,ingreso_nomina,ingreso_segurida_social,gasto_familiar
0,0,201908.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,1.0,0.0,311715.5,C,0.0,NaN,1255032.0,NaN,232526.0
1,1,201909.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,1.0,0.0,311715.5,C,0.0,NaN,1255032.0,NaN,265900.0
2,2,201907.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,1.0,0.0,311306.0,C,0.0,NaN,1255032.0,NaN,243052.0
3,3,201903.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,1.0,0.0,311306.0,C,0.0,NaN,1172612.0,NaN,276014.0
4,4,201911.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,0.0,0.0,677516.0,C,0.0,NaN,1255032.0,NaN,418866.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19255243,19255243,201910.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,3.0,0.0,929800.0,C,0.0,NaN,NaN,NaN,25500.0
19255244,19255244,202002.0,2090044.0,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,3.0,0.0,41800.0,D,0.0,NaN,NaN,NaN,147900.0
19255245,19255245,201903.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,0.0,0.0,928500.0,B,0.0,NaN,NaN,NaN,777437.1
19255246,19255246,202001.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,3.0,0.0,41800.0,D,0.0,NaN,NaN,NaN,1131012.0
19255247,19255247,202004.0,2090044.0,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,3.0,0.0,879800.0,B,0.0,NaN,NaN,2650000.0,597462.0

In [17]:
IPC = pd.read_csv("/mnt/workstation/data/IPC.csv")#, sep= ";")#, names =header)
IPC

    periodo     IPC
0    201902  101.18
1    201903  101.62
2    201904  102.12
3    201905  102.44
4    201906  102.71
5    201907  102.94
6    201908  103.03
7    201909  103.26
8    201910  103.43
9    201911  103.54
10   201912  103.80
11   202001  104.24
12   202002  104.94
13   202003  105.53
14   202004  105.70
15   202005  105.36
16   202006  104.97
17   202007  104.97
18   202008  104.96
19   202009  105.29
20   202010  105.23
21   202011  105.08
22   202012  105.48

In [8]:
features = pd.DataFrame(df.dtypes)
features.columns = ['type']
features_f = features[features['type'] == 'float64'].index
features_o = features[features['type'] == 'object'].index
features_i = features[features['type'] == 'int64'].index
features_b = features[features['type'] == 'bool'].index

In [10]:
list(features_f)

['periodo',
 'id_cli',
 'fecha_nacimiento',
 'edad',
 'ult_actual',
 'codigo_ciiu',
 'mora_max',
 'cant_moras_30_ult_12_meses',
 'cant_moras_60_ult_12_meses',
 'cant_moras_90_ult_12_meses',
 'cupo_total_tc',
 'cuota_tc_bancolombia',
 'nro_tot_cuentas',
 'ctas_activas',
 'ctas_embargadas',
 'cuota_cred_hipot',
 'mediana_nom3',
 'mediana_pen3',
 'ingreso_nompen',
 'ingreso_final',
 'cant_mora_30_tdc_ult_3m_sf',
 'cant_mora_30_consum_ult_3m_sf',
 'cuota_de_vivienda',
 'cuota_de_consumo',
 'cuota_rotativos',
 'cuota_tarjeta_de_credito',
 'cuota_de_sector_solidario',
 'cuota_sector_real_comercio',
 'cupo_tc_mdo',
 'saldo_prom3_tdc_mdo',
 'cuota_tc_mdo',
 'saldo_no_rot_mdo',
 'cuota_libranza_sf',
 'cant_oblig_tot_sf',
 'cant_cast_ult_12m_sr',
 'ind',
 'pol_centr_ext',
 'convenio_lib',
 'ingreso_nomina',
 'ingreso_segurida_social',
 'gasto_familiar']

In [11]:
features_cop = [
 'cupo_total_tc',
 'cuota_tc_bancolombia',
 'cuota_cred_hipot',
 'ingreso_nompen',
 'ingreso_final',
 'cuota_de_vivienda',
 'cuota_de_consumo',
 'cuota_rotativos',
 'cuota_tarjeta_de_credito',
 'cuota_de_sector_solidario',
 'cuota_sector_real_comercio',
 'cupo_tc_mdo',
 'saldo_prom3_tdc_mdo',
 'cuota_tc_mdo',
 'saldo_no_rot_mdo',
 'cuota_libranza_sf',
 'ind',
 'ingreso_nomina',
 'ingreso_segurida_social',
 'gasto_familiar'
]

In [13]:
Current_IPC = IPC.iloc[-1,1]
Current_IPC

105.48

In [19]:
df_corriente = df.merge(IPC, on="periodo", how='left')
df_corriente

,Unnamed: 0,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,...,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,convenio_lib,ingreso_nomina,ingreso_segurida_social,gasto_familiar,IPC
0,0,201908.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,1.0,0.0,311715.5,C,0.0,NaN,1255032.0,NaN,232526.0,103.03
1,1,201909.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,1.0,0.0,311715.5,C,0.0,NaN,1255032.0,NaN,265900.0,103.26
2,2,201907.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,1.0,0.0,311306.0,C,0.0,NaN,1255032.0,NaN,243052.0,102.94
3,3,201903.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,1.0,0.0,311306.0,C,0.0,NaN,1172612.0,NaN,276014.0,101.62
4,4,201911.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,...,0.0,0.0,677516.0,C,0.0,NaN,1255032.0,NaN,418866.0,103.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19255243,19255243,201910.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,3.0,0.0,929800.0,C,0.0,NaN,NaN,NaN,25500.0,103.43
19255244,19255244,202002.0,2090044.0,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,3.0,0.0,41800.0,D,0.0,NaN,NaN,NaN,147900.0,104.94
19255245,19255245,201903.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,0.0,0.0,928500.0,B,0.0,NaN,NaN,NaN,777437.1,101.62
19255246,19255246,202001.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,3.0,0.0,41800.0,D,0.0,NaN,NaN,NaN,1131012.0,104.24
19255247,19255247,202004.0,2090044.0,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,...,3.0,0.0,879800.0,B,0.0,NaN,NaN,2650000.0,597462.0,105.70

In [20]:
for i in features_cop:
    df_corriente[i] = df_corriente[i]/df_corriente['IPC']*Current_IPC

df_corriente.shape

(19255248, 67)

In [22]:
df_corriente[features_cop].describe().T

,count,mean,std,min,25%,50%,75%,max
cupo_total_tc,19255248.0,4.273736e+06,1.066919e+07,0.000000e+00,0.000000e+00,0.000000e+00,4.482442e+06,9.869725e+08
cuota_tc_bancolombia,19255248.0,1.872495e+05,5.761951e+05,0.000000e+00,0.000000e+00,0.000000e+00,1.891944e+05,1.240450e+08
cuota_cred_hipot,4049.0,3.619939e+06,4.879295e+06,0.000000e+00,1.779664e+06,3.031907e+06,5.016031e+06,2.775865e+08
ingreso_nompen,19255248.0,1.222160e+06,2.547509e+06,0.000000e+00,0.000000e+00,0.000000e+00,1.775389e+06,8.351127e+08
ingreso_final,19112263.0,4.921931e+06,1.375170e+07,0.000000e+00,1.615677e+06,2.748415e+06,5.016035e+06,6.678930e+09
cuota_de_vivienda,19255248.0,9.851916e+04,8.549500e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.744876e+08
cuota_de_consumo,19255248.0,6.413773e+05,5.056486e+06,-4.130763e+08,0.000000e+00,0.000000e+00,4.725376e+05,3.478216e+09
cuota_rotativos,19255248.0,2.795083e+04,9.526420e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.013296e+09
cuota_tarjeta_de_credito,19255248.0,3.823886e+05,2.100756e+06,0.000000e+00,0.000000e+00,5.627208e+04,3.992769e+05,4.449229e+09
cuota_de_sector_solidario,19255248.0,5.824541e+04,3.478947e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.248620e+09
cuota_sector_real_comercio,19255248.0,3.624149e+05,3.156542e+07,0.000000e+00,0.000000e+00,0.000000e+00,2.003609e+04,5.159348e+10
cupo_tc_mdo,19255248.0,7.258383e+06,2.679596e+07,0.000000e+00,0.000000e+00,0.000000e+00,6.527426e+06,5.061659e+10
saldo_prom3_tdc_mdo,19255248.0,2.086648e+06,2.564285e+07,0.000000e+00,0.000000e+00,0.000000e+00,1.224205e+06,3.946721e+10
cuota_tc_mdo,19255248.0,4.479365e+05,4.518085e+06,0.000000e+00,0.000000e+00,0.000000e+00,1.811293e+05,9.887177e+09
saldo_no_rot_mdo,19255248.0,2.046755e+07,8.102741e+07,0.000000e+00,0.000000e+00,1.447011e+05,1.396311e+07,4.776191e+10
cuota_libranza_sf,19255248.0,7.722711e+04,1.122118e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.070871e+08
ind,19248808.0,1.280237e+06,3.615488e+07,-5.158561e+10,2.084830e+05,7.966521e+05,2.070041e+06,5.621973e+08
ingreso_nomina,5091182.0,2.894816e+06,2.746919e+06,1.005146e+00,1.415580e+06,2.135002e+06,3.428195e+06,2.153126e+08
ingreso_segurida_social,5340055.0,2.934899e+06,3.410732e+06,0.000000e+00,1.152732e+06,2.002278e+06,3.449414e+06,1.073408e+09
gasto_familiar,19255248.0,7.996993e+05,1.785320e+06,-9.499942e+06,1.783936e+05,4.168534e+05,8.826265e+05,9.157655e+08

In [23]:
df_corriente.shape

(19255248, 67)

In [26]:
df_corriente.iloc[:,1:-2].columns

Index(['periodo', 'id_cli', 'fecha_nacimiento', 'edad', 'genero',
       'estado_civil', 'nivel_academico', 'profesion', 'ocupacion',
       'tipo_vivienda', 'ult_actual', 'categoria', 'codigo_ciiu',
       'ind_mora_vigente', 'cartera_castigada', 'ciudad_residencia',
       'departamento_residencia', 'ciudad_laboral', 'departamento_laboral',
       'rechazo_credito', 'mora_max', 'cant_moras_30_ult_12_meses',
       'cant_moras_60_ult_12_meses', 'cant_moras_90_ult_12_meses',
       'cupo_total_tc', 'tenencia_tc', 'cuota_tc_bancolombia', 'tiene_consumo',
       'tiene_crediagil', 'nro_tot_cuentas', 'ctas_activas',
       'tiene_ctas_activas', 'ctas_embargadas', 'tiene_ctas_embargadas',
       'pension_fopep', 'cuota_cred_hipot', 'tiene_cred_hipo_1',
       'tiene_cred_hipo_2', 'mediana_nom3', 'mediana_pen3', 'ingreso_nompen',
       'cat_ingreso', 'ingreso_final', 'cant_mora_30_tdc_ult_3m_sf',
       'cant_mora_30_consum_ult_3m_sf', 'cuota_de_vivienda',
       'cuota_de_consumo', 'cuota_rotativos', 'cuota_tarjeta_de_credito',
       'cuota_de_sector_solidario', 'cuota_sector_real_comercio',
       'cupo_tc_mdo', 'saldo_prom3_tdc_mdo', 'cuota_tc_mdo',
       'saldo_no_rot_mdo', 'cuota_libranza_sf', 'cant_oblig_tot_sf',
       'cant_cast_ult_12m_sr', 'ind', 'rep_calif_cred', 'pol_centr_ext',
       'convenio_lib', 'ingreso_nomina', 'ingreso_segurida_social'],
      dtype='object')

In [25]:
df_corriente.iloc[:,1:-2].to_csv("/mnt/workstation/data/input_Pesos_Dic_20.csv", index=False)