## Requeriments

In [1]:
import numpy                 as np
import pandas                as pd
import matplotlib.pyplot     as plt
import seaborn               as sns
import missingno as msno
from zipfile import ZipFile as zf
import random
#import sklearn.metrics       as Metrics

/pip_envs/Debuggers3.6/lib/python3.6/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

## Uploading data (input3 indexed)

In [2]:
df = pd.read_csv("/mnt/workstation/data/input_Pesos_Dic_20.csv")#, sep= ",", names =header)
df

,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,tipo_vivienda,...,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,convenio_lib,ingreso_nomina,ingreso_segurida_social,gasto_familiar
0,201908.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,ALQUILADA,...,0.0,1.0,0.0,319127.933029,C,0.0,NaN,1.284876e+06,NaN,2.380553e+05
1,201909.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,ALQUILADA,...,0.0,1.0,0.0,318417.111563,C,0.0,NaN,1.282014e+06,NaN,2.716166e+05
2,201907.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,ALQUILADA,...,0.0,1.0,0.0,318987.340975,C,0.0,NaN,1.285999e+06,NaN,2.490492e+05
3,201903.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,ALQUILADA,...,0.0,1.0,0.0,323130.849045,C,0.0,NaN,1.217153e+06,NaN,2.864983e+05
4,201911.0,2089776.0,19840630.0,35.0,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,ALQUILADA,...,0.0,0.0,0.0,690210.427661,C,0.0,NaN,1.278547e+06,NaN,4.267142e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19255243,201910.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,NaN,...,0.0,3.0,0.0,948228.792420,C,0.0,NaN,NaN,NaN,2.600541e+04
19255244,202002.0,2090044.0,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,NaN,...,0.0,3.0,0.0,42015.094340,D,0.0,NaN,NaN,NaN,1.486611e+05
19255245,201903.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,NaN,...,0.0,0.0,0.0,963768.746310,B,0.0,NaN,NaN,NaN,8.069678e+05
19255246,202001.0,2090044.0,19670629.0,52.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,NaN,...,0.0,3.0,0.0,42297.237145,D,0.0,NaN,NaN,NaN,1.144466e+06
19255247,202004.0,2090044.0,19670629.0,53.0,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Independiente,NaN,...,0.0,3.0,0.0,877968.817408,B,0.0,NaN,NaN,2.644484e+06,5.962185e+05

In [3]:
list(df.columns)

['periodo',
 'id_cli',
 'fecha_nacimiento',
 'edad',
 'genero',
 'estado_civil',
 'nivel_academico',
 'profesion',
 'ocupacion',
 'tipo_vivienda',
 'ult_actual',
 'categoria',
 'codigo_ciiu',
 'ind_mora_vigente',
 'cartera_castigada',
 'ciudad_residencia',
 'departamento_residencia',
 'ciudad_laboral',
 'departamento_laboral',
 'rechazo_credito',
 'mora_max',
 'cant_moras_30_ult_12_meses',
 'cant_moras_60_ult_12_meses',
 'cant_moras_90_ult_12_meses',
 'cupo_total_tc',
 'tenencia_tc',
 'cuota_tc_bancolombia',
 'tiene_consumo',
 'tiene_crediagil',
 'nro_tot_cuentas',
 'ctas_activas',
 'tiene_ctas_activas',
 'ctas_embargadas',
 'tiene_ctas_embargadas',
 'pension_fopep',
 'cuota_cred_hipot',
 'tiene_cred_hipo_1',
 'tiene_cred_hipo_2',
 'mediana_nom3',
 'mediana_pen3',
 'ingreso_nompen',
 'cat_ingreso',
 'ingreso_final',
 'cant_mora_30_tdc_ult_3m_sf',
 'cant_mora_30_consum_ult_3m_sf',
 'cuota_de_vivienda',
 'cuota_de_consumo',
 'cuota_rotativos',
 'cuota_tarjeta_de_credito',
 'cuota_de_sector_solidario',
 'cuota_sector_real_comercio',
 'cupo_tc_mdo',
 'saldo_prom3_tdc_mdo',
 'cuota_tc_mdo',
 'saldo_no_rot_mdo',
 'cuota_libranza_sf',
 'cant_oblig_tot_sf',
 'cant_cast_ult_12m_sr',
 'ind',
 'rep_calif_cred',
 'pol_centr_ext',
 'convenio_lib',
 'ingreso_nomina',
 'ingreso_segurida_social',
 'gasto_familiar']

In [4]:
features = pd.DataFrame(df.dtypes)
features.columns = ['type']
features_f = features[features['type'] == 'float64'].index
features_o = features[features['type'] == 'object'].index
features_i = features[features['type'] == 'int64'].index
features_b = features[features['type'] == 'bool'].index

In [5]:
df[features_o].describe(include='all').T

                            count unique             top      freq
genero                   19255248      2               M   9731146
estado_civil             17367098      5         SOLTERO   8912674
nivel_academico          13462351      6   UNIVERSITARIO   6907133
profesion                13479312     79           OTROS   5192581
ocupacion                19189090     10        Empleado  12159872
tipo_vivienda             9050814      3        FAMILIAR   4381905
ciudad_residencia        19209195   1809     BOGOTA D.C.   4877742
departamento_residencia  19074043     34       ANTIOQUIA   6239768
ciudad_laboral           14025157   1515     BOGOTA D.C.   4034999
departamento_laboral     13456250     34       ANTIOQUIA   4362626
rechazo_credito            104377      4  RECHAZO BIZAGI     83574
cat_ingreso               7707685      3             NOM   6561880
rep_calif_cred           17453517      8               A   3811261

## Tagging

### Mean(ind)

In [79]:
labels_ind = pd.DataFrame(columns = [#Var_Mean',                             
                                'Categoria',
                                'Particip',
                                'Variable',
                                'Label'])
labels_ind

Empty DataFrame
Columns: [Categoria, Particip, Variable, Label]
Index: []

In [80]:
tmp = []
tmp = df.pivot_table('ind','genero', aggfunc={np.mean})
tmp.reset_index(inplace =True)
tmp.columns = ['Categoria','Particip']
tmp.sort_values(by='Particip', ascending=False, inplace=True)
variable = (('genero'+',')*len(df['genero'].unique())).split(',')[:-1]
tmp['Variable'] = variable
label = list(range(1,len(df['genero'].unique())+1))[::-1]
tmp['Label'] = label
labels_ind = labels_ind.append(tmp)
print(labels_ind)

  Categoria      Particip Variable Label
1         M  1.502457e+06   genero     2
0         F  1.053214e+06   genero     1

In [81]:
for var in features_o[1:]:
    tmp = []
    tmp = df.pivot_table('ind',var, aggfunc={np.mean})
    tmp.reset_index(inplace =True)
    tmp.columns = ['Categoria','Particip']
    tmp.sort_values(by='Particip', ascending=False, inplace=True)
    variable = ((var+',')*len(df[var].unique())).split(',')[:-2]
    tmp['Variable'] = variable
    label = list(range(1,len(df[var].unique())+1))[::-1][:-1]
    tmp['Label'] = label
    labels_ind = labels_ind.append(tmp)

labels_ind.head(60)

,Categoria,Particip,Variable,Label
1,M,1.502457e+06,genero,2
0,F,1.053214e+06,genero,1
0,CASADO,1.737485e+06,estado_civil,6
4,VIUDO,1.516885e+06,estado_civil,5
3,UNION LIBRE,1.376242e+06,estado_civil,4
2,SOLTERO,1.080842e+06,estado_civil,3
1,DIVORCIADO,6.015128e+05,estado_civil,2
3,PRIMARIO,3.301255e+06,nivel_academico,7
0,BACHILLER,2.221650e+06,nivel_academico,6
2,NINGUNO,1.663085e+06,nivel_academico,5
1,ESPECIALIZACION,1.076560e+06,nivel_academico,4
5,UNIVERSITARIO,1.061288e+06,nivel_academico,3
4,TECNOLOGO,9.760740e+05,nivel_academico,2
76,TRANSPORTADOR,4.667154e+06,profesion,80
70,TECNOLOGIA EN MINAS,3.506751e+06,profesion,79
44,JOYERO,3.314028e+06,profesion,78
78,ZOOTECNIA,2.824295e+06,profesion,77
26,INGENIERIA ADMINISTRATIVA,2.806902e+06,profesion,76
52,PILOTOS,2.616843e+06,profesion,75
65,TECNOLOGIA DEPORTIVA,2.354639e+06,profesion,74
1,AGRONOMIA,2.313469e+06,profesion,73
31,INGENIERIA DE PETROLEOS,1.748724e+06,profesion,72
30,INGENIERIA DE MINAS,1.738580e+06,profesion,71
47,NINGUNA,1.692807e+06,profesion,70
69,TECNOLOGIA EN CONSTRUCCION,1.679111e+06,profesion,69
13,CONSTRUCCION CIVIL,1.593578e+06,profesion,68
59,REGENCIA DE FARMACIA,1.529922e+06,profesion,67
41,INGENIERO METALURGICO,1.493048e+06,profesion,66
64,TECNOLOGIA AGROPECUARIA,1.488698e+06,profesion,65
35,INGENIERIA FORESTAL,1.477092e+06,profesion,64
25,GEOLOGIA,1.455277e+06,profesion,63
27,INGENIERIA AGRICOLA,1.407794e+06,profesion,62
37,INGENIERIA MECANICA,1.388376e+06,profesion,61
42,INGENIRIA QUIMICA,1.377783e+06,profesion,60
0,ADMINISTRACION,1.313107e+06,profesion,59
33,INGENIERIA ELECTRICA,1.285831e+06,profesion,58
29,INGENIERIA CIVIL,1.264240e+06,profesion,57
43,INSPECTORES DE ESTABLECIMIENTOS DE ENSEÑANZA,1.252439e+06,profesion,56
51,OTROS,1.226815e+06,profesion,55
18,DISEÑO Y PUBLICIDAD,1.206437e+06,profesion,54
38,INGENIERIA SANITARIA,1.200494e+06,profesion,53
3,ARTES,1.198367e+06,profesion,52
16,DELINEANTE DE ARQUITECTURA,1.190395e+06,profesion,51
15,DECORADORES Y DISEÑADORES COMERCIALES,1.171753e+06,profesion,50
61,SACERDOTE,1.165207e+06,profesion,49
39,INGENIERO,1.163636e+06,profesion,48
24,FOTOGRAFOS Y OPERADORES DE CAMARA CINE Y TV,1.148603e+06,profesion,47
11,COMERCIO INTERNACIONAL,1.123634e+06,profesion,46
40,INGENIERO ELECTRONICO,1.114863e+06,profesion,45
2,ARQUITECTURA,1.076310e+06,profesion,44
36,INGENIERIA INDUSTRIAL,1.067382e+06,profesion,43
63,SOCIOLOGIA,1.067276e+06,profesion,42
8,BACTERIOLOGIA,1.057650e+06,profesion,41
49,ODONTOLOGIA,1.036161e+06,profesion,40
12,COMUNICACION SOCIAL,1.025370e+06,profesion,39
58,QUIMICA FARMACEUTICA,1.023877e+06,profesion,38
6,AUXILIAR DE ODONTOLOGIA,1.020450e+06,profesion,37
72,TECNOLOGIA MECANICA,1.007905e+06,profesion,36
67,TECNOLOGIA EN ADMINISTRACION,1.003022e+06,profesion,35
75,TRABAJO SOCIAL,9.914494e+05,profesion,34

### Mean(gasto_familiar)

In [84]:
labels_gasto_familiar = pd.DataFrame(columns = [#Var_Mean',                             
                                'Categoria',
                                'Particip',
                                'Variable',
                                'Label'])
labels_gasto_familiar

Empty DataFrame
Columns: [Categoria, Particip, Variable, Label]
Index: []

In [85]:
tmp = []
tmp = df.pivot_table('gasto_familiar','genero', aggfunc={np.mean})
tmp.reset_index(inplace =True)
tmp.columns = ['Categoria','Particip']
tmp.sort_values(by='Particip', ascending=False, inplace=True)
variable = (('genero'+',')*len(df['genero'].unique())).split(',')[:-1]
tmp['Variable'] = variable
label = list(range(1,len(df['genero'].unique())+1))[::-1]
tmp['Label'] = label
labels_gasto_familiar = labels_gasto_familiar.append(tmp)
labels_gasto_familiar

  Categoria       Particip Variable Label
1         M  901982.032955   genero     2
0         F  695193.089315   genero     1

In [86]:
for var in features_o[1:]:
    tmp = []
    tmp = df.pivot_table('gasto_familiar',var, aggfunc={np.mean})
    tmp.reset_index(inplace =True)
    tmp.columns = ['Categoria','Particip']
    tmp.sort_values(by='Particip', ascending=False, inplace=True)
    variable = ((var+',')*len(df[var].unique())).split(',')[:-2]
    tmp['Variable'] = variable
    label = list(range(1,len(df[var].unique())+1))[::-1][:-1]
    tmp['Label'] = label
    labels_gasto_familiar = labels_gasto_familiar.append(tmp)

labels_gasto_familiar.head(60)

,Categoria,Particip,Variable,Label
1,M,9.019820e+05,genero,2
0,F,6.951931e+05,genero,1
0,CASADO,9.678370e+05,estado_civil,6
3,UNION LIBRE,8.678049e+05,estado_civil,5
1,DIVORCIADO,7.881397e+05,estado_civil,4
4,VIUDO,6.969590e+05,estado_civil,3
2,SOLTERO,6.912766e+05,estado_civil,2
3,PRIMARIO,1.044915e+06,nivel_academico,7
1,ESPECIALIZACION,9.965050e+05,nivel_academico,6
0,BACHILLER,8.480184e+05,nivel_academico,5
5,UNIVERSITARIO,8.405510e+05,nivel_academico,4
2,NINGUNO,7.952728e+05,nivel_academico,3
4,TECNOLOGO,6.700503e+05,nivel_academico,2
76,TRANSPORTADOR,1.946121e+06,profesion,80
52,PILOTOS,1.309158e+06,profesion,79
45,MEDICINA,1.041069e+06,profesion,78
29,INGENIERIA CIVIL,1.022327e+06,profesion,77
13,CONSTRUCCION CIVIL,1.013881e+06,profesion,76
26,INGENIERIA ADMINISTRATIVA,1.006587e+06,profesion,75
31,INGENIERIA DE PETROLEOS,1.001273e+06,profesion,74
2,ARQUITECTURA,9.816653e+05,profesion,73
1,AGRONOMIA,9.657348e+05,profesion,72
37,INGENIERIA MECANICA,9.635504e+05,profesion,71
78,ZOOTECNIA,9.207578e+05,profesion,70
17,DERECHO,9.179105e+05,profesion,69
30,INGENIERIA DE MINAS,9.021032e+05,profesion,68
41,INGENIERO METALURGICO,9.015252e+05,profesion,67
33,INGENIERIA ELECTRICA,8.968645e+05,profesion,66
19,ECONOMIA,8.876340e+05,profesion,65
44,JOYERO,8.817689e+05,profesion,64
77,VETERINARIA,8.791819e+05,profesion,63
42,INGENIRIA QUIMICA,8.721482e+05,profesion,62
49,ODONTOLOGIA,8.702829e+05,profesion,61
39,INGENIERO,8.645098e+05,profesion,60
25,GEOLOGIA,8.626707e+05,profesion,59
34,INGENIERIA FINANCIERA,8.602483e+05,profesion,58
40,INGENIERO ELECTRONICO,8.600551e+05,profesion,57
0,ADMINISTRACION,8.583755e+05,profesion,56
36,INGENIERIA INDUSTRIAL,8.526059e+05,profesion,55
47,NINGUNA,8.405544e+05,profesion,54
32,INGENIERIA DE SISTEMAS,8.325462e+05,profesion,53
15,DECORADORES Y DISEÑADORES COMERCIALES,8.316911e+05,profesion,52
69,TECNOLOGIA EN CONSTRUCCION,8.307021e+05,profesion,51
43,INSPECTORES DE ESTABLECIMIENTOS DE ENSEÑANZA,8.107107e+05,profesion,50
38,INGENIERIA SANITARIA,8.083730e+05,profesion,49
10,CARRERA MILITAR,8.066204e+05,profesion,48
58,QUIMICA FARMACEUTICA,8.006736e+05,profesion,47
46,MERCADOTECNIA,7.995574e+05,profesion,46
51,OTROS,7.936012e+05,profesion,45
70,TECNOLOGIA EN MINAS,7.918215e+05,profesion,44
64,TECNOLOGIA AGROPECUARIA,7.887100e+05,profesion,43
11,COMERCIO INTERNACIONAL,7.710888e+05,profesion,42
12,COMUNICACION SOCIAL,7.697495e+05,profesion,41
14,CONTADURIA,7.690778e+05,profesion,40
18,DISEÑO Y PUBLICIDAD,7.637761e+05,profesion,39
60,RELIGIOSA,7.560566e+05,profesion,38
53,PROFESIONALES EN METODOS DIDACTICOS,7.549637e+05,profesion,37
27,INGENIERIA AGRICOLA,7.542537e+05,profesion,36
72,TECNOLOGIA MECANICA,7.535107e+05,profesion,35
35,INGENIERIA FORESTAL,7.332299e+05,profesion,34

# Mean(Whatever)

In [96]:
labels = pd.DataFrame(columns = ['Categoria',
                                'Particip',
                                'Variable',
                                'Label',
                                'Var_mean',])                             
                                

for i in ['gasto_familiar','ind','ingreso_nompen']:
    for var in features_o[1:]:
        tmp = []
        tmp = df.pivot_table(i,var, aggfunc={np.mean})
        tmp.reset_index(inplace =True)
        tmp.columns = ['Categoria','Particip']
        tmp.sort_values(by='Particip', ascending=False, inplace=True)
        variable = ((var+',')*len(df[var].unique())).split(',')[:-2]
        tmp['Variable'] = variable
        label = list(range(1,len(df[var].unique())+2))[:-2][::-1]
        tmp['Label'] = label
        var_mean = ((i+',')*len(df[var].unique())).split(',')[:-2]
        tmp['Var_mean'] = var_mean
        labels = labels.append(tmp)
        

labels

      Categoria      Particip        Variable Label        Var_mean
0        CASADO  9.678370e+05    estado_civil     5  gasto_familiar
3   UNION LIBRE  8.678049e+05    estado_civil     4  gasto_familiar
1    DIVORCIADO  7.881397e+05    estado_civil     3  gasto_familiar
4         VIUDO  6.969590e+05    estado_civil     2  gasto_familiar
2       SOLTERO  6.912766e+05    estado_civil     1  gasto_familiar
..          ...           ...             ...   ...             ...
3             D  1.101550e+06  rep_calif_cred     5  ingreso_nompen
5             F  1.099701e+06  rep_calif_cred     4  ingreso_nompen
6             G  1.099355e+06  rep_calif_cred     3  ingreso_nompen
7             H  1.095841e+06  rep_calif_cred     2  ingreso_nompen
4             E  1.055179e+06  rep_calif_cred     1  ingreso_nompen

[10530 rows x 5 columns]

In [97]:
labels.to_csv("/mnt/workstation/data/labels.csv", index=False)